# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Specific binaries
go-bench
api-benchmark

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

